@{
    ViewData["Title"] = "Home Page";
}

<div id="hello">Initial text</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var ws = new WebSocket("ws://127.0.0.1:8000/mac")
        ws.onopen = function () {

        }

        ws.onmessage = function (evt) {
            var rec = evt.data;
            document.getElementById("hello").innerHTML = rec + "<br>";
        }
        })
</script>
