body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td:before {
                /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-color: yellow;
    font-family: 'Luckiest Guy', cursive;
    font-size: 61px;
    text-align: center;
}

.boxcontainer {
    border-radius: 5px;
    margin-top: 100px;
    background-color: darkgray;
}

.box {
    border: solid;
    border-color: yellow;
    border-width: thick;
    height: 250px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

.box, h4 {
    text-align: center;
    font-family: Luckiest Guy;
}

.boxholder {
    margin-left: 63.33px;
}
