body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: grey;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    background-color: yellow;
    font-family: 'Luckiest Guy', cursive;
    font-size: 61px;
    text-align:center;
}

.boxcontainer{
    margin-top:100px;
    background-color:aliceblue;
   
}
.box{
    border:double;
    border-color:black;
    border-width:medium;
    height:250px;
    width:200px;
    margin:20px;
}