@{
    ViewData["Title"] = "MAC-onomen";
}

<div class="boxcontainer container">
    <div class="col-md-12">
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/car-wash.png" />
            <h3>Biltvätt</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/fuel.png" /> 
            <h3>Tanka</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/motor-oil.png" /> 
            <h3>Fylla på olja</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/light.png" /> 
            <h3>Byta lampa/lampor</h3>
        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/tire.png" /> 
            <h3>Byta däck</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/washer-fluid.png" />
            <h3>Fylla på spolarvätska</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/wiper.png" /> 
            <h3>Byte av vindrutetorkare</h3>
        </div>
        <div class="col-md-3 box">
            <img class="img-responsive" src="~/images/tire-air.png" /> 
            <h3>Lufta däck</h3>
        </div>

    </div>
</div>
